:root {
  --main-color-1: hsl(10deg 22% 32%);
  --main-color-2: hsl(28deg 17% 11%);
  --main-color-3: hsl(15deg 38% 96%);
  --main-color-3-lighter: hsl(15deg 38% 86%);

  }

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-color-1);
  color: var(--main-color-3);
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.container {
  display: flex;
}

.title-container {
  display: flex;
  background: green;x
}

.blank-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blank-a {
  text-decoration: none;
  color: inherit;
}

.row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-5 {
  display: flex;
  gap: 5px;
}
.row-10 {
  display: flex;
  gap: 10px;
}
.row-15 {
  display: flex;
  gap: 15px;
}

.row-30 {
  display: flex;
  gap: 15px;
}

.row-50 {
  display: flex;
  gap: 50px;
}

.col-50 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.blank-li {

}