:root {
  --main-color-1: hsl(207deg 13% 35%);
  --main-color-1-light: hsl(207deg 13% 35% / 0.5);
  --main-color-2: hsl(199deg 13% 52%);
  --main-color-3: hsl(30deg 9% 72%);
  --main-color-4: hsl(204deg 28% 77%);
  --main-color-3: hsl(31deg, 30%, 86%);
  --main-color-5: hsl(30deg 0% 94%);
  --main-color-3-o: hsla(187deg, 41%, 85%, 0.7);
  --main-color-3-lighter: hsl(30deg 9% 72% / 0.5);
  --main-color-3-light: hsl(30deg 9% 72%);
  --text-color-1: hsl(30deg 0% 94%);
  --text-color-2: hsl(207deg 13% 35%);
  --text-size-1: 1em;
  --text-size-2: 2em;
  --large-mobile: 39em;
  --small-mobile: 28em;
}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  background: var(--main-color-1);
  margin: 0;
  padding: 0;
}

.ball {
  width: 64px;
  height: 64px;
  background: red;
  border-radius: 50%;
  margin-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 0.05em;
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: var(--text-color-1);
}
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.4em;
}

h6,
p {
  font-size: 1.2em;
}

a {
  font-size: 1em;
  font-family: 'Ubuntu Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: var(--text-color-1);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.frosted-text {
  color: var(--text-color-1);
  text-align: center;
}

.backdrop-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 4em 0 0 0;
  height: calc(100vh - 4.25em);
  position: relative;
  background-color: transparent;
}

.backdrop-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frosted-content {
  width: 10em;
}

.frosted-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.frosted-section-full {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: calc(100vh - 4.25em);
}

.full-last {
  height: calc(100vh);
}

.frosted-card {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 30em;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.frosted-split-section {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 2em 10em;
  margin-top: 1.5em;
}

.frosted-group-section {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 2em 5em;
  margin-top: 1.5em;
}

.frosted-show {
  opacity: 1;
}

.frosted-img {
  width: 100%;
  object-fit: cover;
}

.frosted-input {
  outline: none;
  border: none;
  background: var(--main-color-4);
  backdrop-filter: blur(20px);
  color: var(--text-color-1);
  padding: 0.25em;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1.5em;
  font-weight: bold;
}

.frosted-btn {
  cursor: pointer;
  font-family: 'Raleway', serif;
  font-weight: bold;
  background: var(--main-color-3);
  color: var(--main-color-1);
  padding: 1.2em 1.2em;
  font-size: 1.2em;
  border-radius: 0.25em;
  transition-duration: 0.4s;
  border: 2px solid transparent;
}

.frosted-btn-small {
  padding: 0.8em 1.2em;
  font-size: 1.2em;
}

.frosted-btn:hover {
  background: var(--main-color-1);
  color: var(--main-color-3);
  border: 2px solid var(--main-color-3);
}

.hide {
  display: none;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-l {
  0% {
    max-width: 0;
  }

  50% {
    max-width: 100%;
  }

  100% {
    max-width: 100%;
  }
}

@media screen and (max-width: 87.5em) {
  .frosted-service-card {
    min-height: 10em;
  }
}

@media screen and (max-width: 70em) {
  .frosted-split-section {
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .frosted-service-card {
    min-width: 90%;
    max-height: 13em;
  }
}

@media screen and (max-width: 50em) {
  body {
    font-size: 14px;
  }

  .card,
  .frosted-section,
  .frosted-section-full {
    width: 75%;
  }

  .frosted-img-about {
    width: 300px;
    min-width: 100px;
    margin: 0 0 8em 0;
  }
}

@media screen and (max-width: 40em) {
  body {
    font-size: 12px;
  }

  .frosted-input,
  .frosted-input-active,
  .frosted-textarea {
    font-size: 1.34em;
    width: 100%;
  }

  .frosted-input-active ~ label,
  .frosted-input ~ label,
  .frosted-textarea ~ label {
    font-size: 1.34em;
    padding: 0 0.267em;
  }

  .frosted-input-active {
    max-width: 100%;
  }

  .frosted-form-container {
    width: 80%;
  }

  .frosted-textarea-group {
    width: 100%;
  }

  .frosted-textarea {
    width: 100%;
    min-width: 15em;
  }

  .frosted-form {
    align-items: center;
  }

  .frosted-form-row {
    flex-flow: column wrap;
  }

  .frosted-btn-contact {
    width: 100%;
  }

  .card,
  .frosted-section,
  .frosted-section-full,
  .frosted-group-section {
    width: 95%;
  }

  .frosted-nav {
    display: none;
  }

  .frosted-sub-nav {
    display: flex;
  }
}

@media screen and (max-width: 30em) {
  .frosted-img {
    width: 100%;
    min-width: 100px;
  }
}
